<div class="container">

  <h3>CHAT</h3>
  <br>
  <ul>
    <!--<li class="text" *ngFor="let item of items | async">-->
      <!--{{item?.$value}}-->
    <!--</li>-->
  </ul>

  <ul class="list-group">
    <li class="list-group-item active">Message history</li>
    <li class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </li>

    <li class="list-group-item">Vestibulum at eros</li>
  </ul>


  <form class="form-inline">

    <div class="form-group mx-sm-3">
      <label for="msg" class="sr-only">Message</label>
      <input type="text" class="form-control" id="msg" placeholder="Write a message...">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
